.order-section {
  padding: 170px 0;
  background-color: #312F30;
}

.order-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-section__text-block {
  max-width: 370px;
}

.order-section__title {
  font-size: 46px;
  line-height: 46px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.order-section__desc {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 12px;
}

.order-section__price {
  display: block;
  font-size: 24px;
  color: #F6762C;
  margin-bottom: 20px;
}


/* .order-section__img{
  transition: transform 0.3s ease;
}

.order-section__img:hover{
  transform: scale(1.05);
} */

.order-section__container {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.order-section__container:hover{
  transform: scale(1.05);
}

